<div class="container py-5 h-100" >
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-6">
      <div class="card" style="color: #4B515D; border-radius: 35px; height: inherit!important" href="/meteo">
        <div class="card-body p-4">
          <div class="d-flex center">  
            <h6>{{ date }}</h6>
          </div>
          <div class="d-flex justify-content-between">
            <div>
              <h2 class="display-2"><strong> {{ temperature }} °C</strong></h2>
              <span class="small" style="color: #868B94">{{ descriptionWeather }}</span>
              <div>
                <i class="fas fa-wind fa-fw" style="color: #868B94;"></i> 
                <span class="ms-1"> vent à {{ vent }} km/h</span>
              </div>
            </div>
            <div style="width: 100px; height: 100px;">
                <i class="fas {{ codeIcone }} fa-fw" style="color: var(--primary-color); width: 100px; height: 100px;"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      {{ arrayweather | raw }}
  </div>

</div>
